@page
@using Microsoft.Extensions.Localization
@using Acme.IssueManagement.Localization
@using Acme.IssueManagement.Web.Pages.IssueManagement
@model Acme.IssueManagement.Web.Pages.IssueManagement.IndexModel
@inject IStringLocalizer<IssueManagementResource> L

@{
}
<h1>IssueManagement</h1>
<p>@L["SamplePageMessage"]</p>
