@page "/IssueManagement"
@using Microsoft.Extensions.Localization
@using global::Acme.IssueManagement.Localization
@inject IStringLocalizer<IssueManagementResource> L
@{
}
<h1>IssueManagement</h1>
<p>@L["SamplePageMessage"]</p>